<section class="slider-area slider-area2" style="height: 70px; display: flex; align-items: center; justify-content: center;">
    <div class="slider-active" style="width: 100%;">
        <div class="single-slider slider-height2 d-flex align-items-center" style="width: 100%;">
            <div class="container">
                <h1 style=" color: white; font-weight: bold; font-size: 34px; align-self: center;">Shopping Cart</h1>
            </div>
        </div>
    </div>
  </section>
  

<div class="container mt-5">
    <!-- Cart Header -->
    <!-- <h2 class="mb-4 fw-bold">Shopping Cart</h2> -->
    <h5>{{courses.length}} Courses in Cart</h5>

    @if(courses.length>0){
    <!-- Cart Items List and Summary Section -->
    <div class="row">
        <!-- Cart Items List -->
        <div class="col-lg-8">
            @for(item of courses ;track item.name)
            {
                <hr>
                <div class="cart-item bg-white p-3 mb-4">
                    <div class="d-flex align-items-center">
                        <img [src]="item.coverPicture" alt="Course Image" class="img-fluid me-3"
                            style="width: 150px; height: 100px;">
                        <div class="w-100">
                            <h5 class="mb-2">{{item.title}}</h5>
                            <p class="text-muted mb-1">{{item.instructorName}}</p>
                            <p class="text-muted small mb-0">{{item.rate}}</p>
                        </div>
                        <div class="text-end ms-auto d-flex align-items-start">
                            <!-- Buttons Column -->
                            <div class="d-flex flex-column me-3">
                                <button class="btn btn-link text-danger p-0 mb-2 btn-wide"
                                    (click)="removeItemFromCart(item.id)">Remove</button>
                                <button class="btn btn-link text-danger p-0 mb-2 btn-wide">Move To Wishlist</button>
                            </div>
                            <!-- Price Column -->
                            <span class="fw-bold text-success fs-5">{{ item.price | currency }}</span>
                        </div>
                    </div>
                </div>
            }
        </div>

        <!-- Summary Section -->
        <div class="col-lg-4">
            <div class="bg-white p-3 summary-box">
                <h4 class="mb-4">Total:</h4>
                <div class="d-flex justify-content-between mb-3">
                    <span class="h2">{{ total | currency }}</span>
                </div>
                
                <!-- Checkout Button -->
                <button  class="btn btn-checkout btn-lg w-100 mt-3" (click)="checkoutwithmobile()">Checkout</button>
            </div>
        </div>
    </div>
    }
    @else{
    <div class="container d-flex justify-content-center align-items-center mt-5 mb-5">
        <div class="empty-cart-box text-center p-50">
            <img src="https://s.udemycdn.com/browse_components/flyout/empty-shopping-cart-v2-2x.jpg" alt="Empty Cart"
                class="img-fluid mb-4">
            <p class="text-muted">Your cart is empty. Keep shopping to find a course!</p>
            <a href="/home" class="btn btn-primary mt-3">Keep Shopping</a>
        </div>
    </div>
    }
</div>
