<form #forgetpassword="ngForm" (ngSubmit)="onsubmit(forgetpassword)">
    <div class="mb-3">
      <label for="email" class="form-label">Enter your email</label>
      <input
        type="email"
        class="form-control"
        id="email"
        placeholder="email"
        [(ngModel)]="forgetpasswordform.email"
        name="email"
        required
        [ngClass]="{ 'is-invalid': forgetpassword.submitted && !forgetpassword.controls['email'].valid }"
      />
      <div *ngIf="forgetpassword.submitted && !forgetpassword.controls['email'].valid" class="invalid-feedback">
        Email is required.
      </div>
    </div>
    <p *ngIf="errormessage" style="color: red;">{{ errormessage }}</p>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
  