<div class="card border-0 mx-2 my-2" style="width: 18rem;">
    <img src="https://www.shutterstock.com/shutterstock/photos/2480344323/display_1500/stock-photo-e-learning-technology-concept-ai-and-machine-learning-enhance-personalized-learning-technology-2480344323.jpg"
        class="card-img-top" alt="...">
    <div class="heart-icon p-2 bg-light" (click)="toggleHeart()">
        <i class="fa-heart" [ngClass]="isHeartFilled ? 'fa-solid' : 'fa-regular'"></i>
    </div>
    <div class="card-body">
        <h5 class="card-title fw-bold fs-4 truncate-multiline">Course title dasds sadasds saddasdsa dasdasd</h5>
        <p class="card-text text-muted opacity-50 truncate fs-6 mb-4">Some quick example text to build on the card title and
            make up the bulk of the card's content.</p>
        <div class="progress mb-2" style="max-height: 7px;" role="progressbar" aria-label="Success example"
            aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">
            <div class="progress-bar bg-info" style="width: 25%"></div>
        </div>
        <div class="row">
            <p class="col">25% Complete</p>
            <div class="row mb-3 text-center col">
                <div class="col-12 stars">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                </div>
            </div>
        </div>
    </div>
</div>