<form #newpassword="ngForm" (ngSubmit)="onsubmit(newpassword)">
    <div class="form-group">
      <label for="password">New Password</label>
      <input
        type="password"
        name="password"
        class="form-control"
        id="password"
        placeholder="New password"
        [(ngModel)]="newpasswordform.password"
        name="password"
        required
        [ngClass]="{ 'is-invalid': newpassword.submitted && !newpassword.controls['password'].valid }"
      />
      <div *ngIf="newpassword.submitted && !newpassword.controls['password'].valid" class="invalid-feedback">
        Password is required.
      </div>
    </div>
  
    <div class="form-group">
      <label for="confirmPassword">Confirm Password</label>
      <input
        type="password"
        class="form-control"
        id="confirmPassword"
        [(ngModel)]="newpasswordform.confirmPassword"
        name="confirmPassword"
        placeholder="Confirm password"
        required
        [ngClass]="{ 'is-invalid': newpassword.submitted && !newpassword.controls['confirmPassword'].valid || passwordMismatch }"
      />
      <div *ngIf="newpassword.submitted && !newpassword.controls['confirmPassword'].valid" class="invalid-feedback">
        Confirm Password is required.
      </div>
      <div *ngIf="passwordMismatch && newpassword.submitted" class="invalid-feedback">
        Passwords do not match.
      </div>
    </div>
  
    <p *ngIf="confirmationmessage" style="color: blue;">{{ confirmationmessage }}</p>
  
    <ul *ngIf="passwordErrors.length > 0" style="color: red;">
      <li *ngFor="let error of passwordErrors">{{ error }}</li>
    </ul>
  
    <button type="submit" class="btn btn-primary">
      Submit
    
    </button>
  </form>
  