<form class="row g-3" #singUpForm="ngForm" (ngSubmit)="onSubmit(singUpForm)" style="margin: auto;width: 70%;">

  <div class="mb-3">
    <label for="email" class="form-label">Enter your email</label>
    <input type="email" class="form-control" id="email" placeholder="email" [(ngModel)]="registerform.email"
      name="email" required [ngClass]="{'is-invalid': singUpForm.submitted && !singUpForm.controls['email'].valid}">
      @if(emailerrormessage !=''){
        <p  style="color: red;">{{emailerrormessage}}</p>
      }
  </div>

  <div class="row">
    <div class="col">
      <input type="text" class="form-control" placeholder="First name" aria-label="First name"
        [(ngModel)]="registerform.fName" minlength="4" maxlength="15" name="fName" required
        [ngClass]="{'is-invalid': singUpForm.submitted && !singUpForm.controls['fName'].valid}">
    </div>
    <div class="col">
      <input type="text" class="form-control" placeholder="Last name" aria-label="Last name"
        [(ngModel)]="registerform.LName" minlength="4" maxlength="15" name="LName" required
        [ngClass]="{'is-invalid': singUpForm.submitted && !singUpForm.controls['LName'].valid}">
    </div>
  </div>

  <div class="mb-3">
    <label for="password" class="form-label">Enter your password</label>
    <input type="password" class="form-control" id="password" placeholder="password" [(ngModel)]="registerform.password"
      name="password" required
      [ngClass]="{'is-invalid': singUpForm.submitted && !singUpForm.controls['password'].valid}">
      @if(passworderrormessage !=''){
        <p  style="color: red;">{{passworderrormessage}}</p>

      }
  </div>

  <div class="mb-3">
    <label for="confirmPassword" class="form-label">Confirm your password</label>
    <input type="password" class="form-control" id="confirmPassword" placeholder="confirm password"
      [(ngModel)]="registerform.confirmPassword" name="confirmPassword" required
      [ngClass]="{'is-invalid': singUpForm.submitted && !singUpForm.controls['confirmPassword'].valid}">
      @if(confirmPassworderrormessage !=''){
        <p  style="color: red;">{{confirmPassworderrormessage}}</p>
      }

  </div>

  <div class="col-12">
    <label for="phone" class="form-label">Phone number</label>
    <input type="tel" class="form-control" id="phone" placeholder="enter your phone number" name="phone"
      [(ngModel)]="registerform.phone" required pattern="^(010|011|012|015)[0-9]{8}$" #phone="ngModel"
      [ngClass]="{'is-invalid': singUpForm.submitted && !singUpForm.controls['phone'].valid}">
      @if(phonenumbererrormessage !=''){
        <p  style="color: red;">{{phonenumbererrormessage}}</p>
      }

      @if(phone.errors && phone.touched){
        <div class="error-message">
          Invalid phone number. The number must start with 010, 011, 012, or 015 followed by 8 digits.
        </div>
      }

  
  </div>

  <button type="submit" class="btn btn-success">Submit</button>
</form>
