
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <!-- Brand -->
      <a class="navbar-brand" href="#" routerLink="home">EduGate
        <!-- <img src="./assets/images/freshcart-logo.svg" alt="Brand Logo" height="40"> -->
      </a>
  
      <!-- Toggler Button for Mobile -->
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
  
      <!-- Collapsible Content -->
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <!-- Left Side Nav Links -->
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a  class="nav-link text-capitalize" href="">course title tweeeel awiiiiiiiii mamamamaamamammamm</a>
          </li>
          
        </ul>
  

        
          
        <!-- Right Side Icons and Profile -->
        <ul class="navbar-nav ms-auto mb-2 mb-lg-0 d-flex align-items-center">
            <li class="nav-item">
                <a class="nav-link text-capitalize" routerLink="userCourses" routerLinkActive="active">My Learning</a>
            </li>
         
        </ul>
      </div>
    </div>
  </nav>
  
  